.form-add-prod{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

    width: 80vw;
    margin: auto;
    padding-top: 8vh;
}

.form-add-prod fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    border: none;
    padding: 10px;
    margin: 10px;
    background-color:#CB6565;
    color: white;

    font-family: sans-serif;
}

.form-add-prod fieldset h2{
    display: block;
    width: 100%;
}

.form-add-prod fieldset label{
    margin: 10px;
}

.form-add-prod button{
    width: 25%;
    padding: 5px;
    margin: 5px;
    border: 0px;
    /* background-color: salmon;
    color: white; */
}

.one-line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h3{
    padding: 5px;
    margin: 0px;
    font-size: 1em;
    font-weight: 200;

}

h2{
    padding: 5px;
    margin: px;
    font-size: 1.5em;
    font-weight: 200;
    border-top: 0.5px solid white;
}


.luz{
    display: flex;
    flex-direction: column;
}

#buttons{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
} 

 #buttons button{
    width: 30%;
    padding: 12px 5px 12px 5px;
    border: 0px;
}

.button_secondary{
    background-color: rgb(211, 211, 211);
    color: black;
    border: solid 1px #51505D;
}

.button_primary{
    background-color: #51505D;
    color: white;
}

.columna{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}