main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-banner{
    display: none;
}

main h2{
    padding-top: 13vh;
    width: 90vw;
    margin: auto;
    font-size: 27px;
}

table{
    width: 90vw;
    margin: auto;
    padding-bottom: 10vh;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.t-head{
    margin: 10px 0px;
    height: 50px;
    border-bottom: solid 1px #F4E7DE;
}

.t-head .t-description{
    width: 20%;
}

.t-item{
    border-bottom: solid 1px #F4E7DE;
}

.t-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 20px 0px;
}

table img{
    width: 150px;
    margin-right: 10px;
}

.cart-img{
    margin: 0;
    text-align: left;
}

.cart-title{
    width: 100%;
    margin: 0;
}

.cart-type{
    width: 100%; 
    margin: 0;
    padding-top: 5px;
    font-style: italic;
    color: #51505d;
    font-weight: lighter;
}

.t-description{
    padding-top: 7px;
}

.t-quantity{
    width: 15%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.t-price{
    width: 15%;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cart-price{
    text-align: right;
    width: 100%;
    padding: 0;
}

input{
    text-align: center;
    width: 60px;
}

tfoot{
    border-bottom: 2px solid #000;
    text-align: bottom;
}

tfoot .t-quantity{
    height: 70px;
}

tfoot .t-price{
    height: 70px;
    font-size: 18px;
    font-weight: bold;
}

.cart-button{
    height: 100px;
}

form{
    height: 100px;
}

.cart-action{
    width: 70vw;
    margin: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3vh;
}

.checkout-non{
    border: solid 1px #51505D;
    background-color: #fff;
    padding: 10px;
    color: #51505D;
    width: 90%;
    text-transform:uppercase;
    margin: 10px 0px;
}

.checkout-non:hover{
    border: solid 1px rgb(239, 239, 239);
    background-color: rgb(239, 239, 239);
}

.checkout{
border: none;
    padding: 10px;
    color: #f6f2ed;
    background-color: #51505D;
    width: 90%;
    text-transform:uppercase;
    margin: 10px 0px;
}

.checkout:hover{
    background-color: #bb7f66;
}

.product-scale{
    visibility: hidden;
    position: relative;
    display: block;
    padding: 0px;
    height: 11vh;
    margin-top: 5vh;
}

.line1{
    display: block;
    position: absolute;
    top: 25%;
    left: 0px;
    width: 100%;
    border-top: 1px dashed black;
}

.line2{
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    border-top: 1px dashed black;
}

.line3{
    display: block;
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
    border-top: 1px dashed black;
}

.line-base{
    display: block;
    position: absolute;
    top: 95%;
    left: 0px;
    width: 100%;
    border-top: 1px solid black;
}

.product-scale-centered{
    position: absolute;
    bottom: -12px;
    left: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 5px;

}

.product-scale-img img{
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: auto;
}

.cart-shipping{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 3vh;
}

.cart-shipping h3{
    width: 15vw;
}

.cart-shipping h4{
    width: 30vw;
    margin-bottom: 3px;
}

.cart-shipping h5{
    width: 30vw;
    margin-top: 3px;
}

.cart-shipping-icon{
    width: 40px;
    margin-right: 30px;
}






/* --------------------------------- Media Querys --------------------------------- */


@media (min-width: 700px) {

    main h2{
        width: 70vw;
    }

    table{
        width: 70vw;
    }

    .t-info{
        flex-direction: row;
    }

    table img{
        margin-right: 30px;
    }

    .cart-type{
        padding-top: 10px;
    }

    .t-quantity{
        width: 10%;
    }

    .t-price{
        width: 5%;
    }

    .checkout-non{
        width: 60%;
    }

    .checkout{
        width: 60%;
    }

    .product-scale{
        visibility: visible;
        width: 100%;
        height: 20vh;
        margin-left: 15px;
        margin-right: 15px;
    }

    .product-scale-img img{
        margin: 0;
    }

    .cart-shipping{
        width: 70vw;
        flex-wrap: nowrap;
        margin-top: 5vh;
    }

    .cart-shipping h4{
        width: 10vw;
    }

    .cart-shipping h5{
        width: 10vw;
    }

    .cart-shipping-icon{
        width: 80px;
    }

}