.prod-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.prod{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    margin: 10px auto;
    padding: 15px;

    border-radius: 10px;

    transition: all 0.3s linear;
}

.prod:hover{
    box-shadow: 4px 4px 10px #666;
}

.prod:hover > .prod-box .prod-action{
    /* height: 40px;
    padding: 5px; */
    opacity: 1;
}

.prod-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-height:fit-content;
}

.prod-img img{
    width: 100%;
    
}

.prod-box{
    position: relative;
    top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s linear;

    height: 100%;
}

/* 
.prod-box:hover > .prod-action{
    height: 40px;
    padding: 5px;
    opacity: 1;
}
*/

.prod-title{
    width: 50%;
    padding: 5px;
    margin: 0px;
    font-weight: 300;
    font-size: 16px;

    text-overflow:clip;
}

.prod-price{
    width: 50%;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.prod-type{
    width: 100%;
    padding: 5px;
    margin: 0px;
    font-weight: lighter;
    font-size: 14px;
    font-style: italic;

    color: #51505d;
}

.prod-action{
        
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    /* height: 0px; */
    height: 32px;
    padding: 0px;
    opacity: 0;

    transition: all 100ms linear;

    overflow: hidden;

    align-self: flex-end;

}

.add-cart{
    border: none;
    padding: 10px;
    color: #f6f2ed;
    background-color: #bb7f66;
    width: 100%;

    text-transform:uppercase;
}

.fav{
    border: none;
    color: #000000;
    border: #000000 1.5px solid;
    width: 32px;
    height: 32px;
    margin-left: 8px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fav img{
    width: 20px;
}

@media (min-width: 480px) {

   /* .caja-centro{
       height: calc(100% + 60px);
       border: 2px solid blue;
    } 
    esta va a ser una caja con altura fija, que se va a usar para que se pueda agrandar la parte de abajo bien
    es como reemplazo de poner oootra caja mas en cada seccion con algo similar
    */

    .prod-container{
        flex-direction: row;
        justify-content: space-between;
       align-content: flex-start;
        flex-wrap: wrap;

        width: 100%;
    }

    .prod{
        max-width: 30%;
        min-width: 180px;
        max-height:fit-content;

        margin-top: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }
}