*{
  box-sizing: border-box;
}
.main-login {
  position: relative;
  align-content: center ;
}

.login-fondo {
margin-top: 12%;

}

.header-banner-mobile {
  opacity: 0.4;
}

.form-login {
  width: 100%;
  position: absolute;
  border: none;
  z-index: 100;
  top: 20%;
}
.titulo-login {
  text-align: center;
}

.login {
  width: 60vw;
  height: 22vh;
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  border: solid 0.5px black;
  border-radius: 25px;
}
.login-input, .login-btn {
  border: none;
  outline: none;
  background: none;
}
.login-btn{
  background: #F4E7DE;
  border-radius: 50px;
}