.product{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
}

.product-img{
    display: block;
    width: 100%;
    border: 1px solid black;

    overflow: hidden;
}

.product-img img{
    width: 100%;
}

.product-desc{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;

    justify-content: space-between;

    width: 100%;
    border: 1px solid black;

    overflow: hidden;

    padding: 5px;
}

.desc-name{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.desc-name h2{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-indent: 0%;
    text-align:left;
    color: black;

    margin-top: 0;
    margin-bottom: 0;
}

.desc-name h3{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-indent: 0%;
    text-align:right;
    color: black;

    margin-top: 0;
    margin-bottom: 0;
}

.desc-text{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-indent: 0%;
    text-align:left;
    color: black;

    margin-top: 10;
    margin-bottom: 0;
}

.desc-care{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;

    margin-top: 10px;
}

.desc-care-box{
    width: 105px;
    height: 105px;

    margin: 0;

    border-radius: 10px;
    border: 0.5px solid #666;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    align-content: flex-start;

}

.desc-care-box picture{
    width: 50px;
    height: 50px;

    margin: auto;

    overflow: hidden;
}

.desc-care-box img{
    width: 100%;
    margin: auto;
}

.desc-care-box h2{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    font-weight:bold;
    font-style: italic;
    text-indent: 0%;
    text-align:right;
    color: black;

    margin-top: 0;
    margin-bottom: 0;
}

.desc-care-box h3{
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight:normal;
    font-style: italic;
    text-indent: 0%;
    text-align:right;
    color: black;

    margin-top: 0;
    margin-bottom: 0;
}

.prod-action{
        
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    /* height: 0px; */
    height: 32px;
    padding: 0px;

    overflow: hidden;

    align-self: flex-end;

    margin-top: 10px;


}

.add-cart{
    border: none;
    padding: 10px;
    color: #f6f2ed;
    background-color: #bb7f66;
    width: 100%;

    text-transform:uppercase;
}

.fav{
    border: none;
    color: #000000;
    border: #000000 1.5px solid;
    width: 32px;
    height: 32px;
    margin: 0px 8px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fav img{
    width: 20px;
}

.product-care{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;

    padding: 10px;
    
}


.care-bar{
    width: 100%;
    padding: 5px;

    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bar-img{
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.bar-img img{
    width: 100%;
}

/* probando idea con check */
/* RIEGO */
.care-bar-r label {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .care-bar-r label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .care-bar-r label div {
    height: 10px;
    width: 15vw;
    border-radius: 4px;
    background-color: #acc1c67a;
  }
  
  .care-bar-r label input:checked ~ div {
    background-color: #ACC1C6;
  }


/* LUZ */
.care-bar-l label {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .care-bar-l label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .care-bar-l label div {
    height: 10px;
    width: 15vw;
    border-radius: 4px;
    background-color:#F6ECE9;
  }
  
  .care-bar-l label input:checked ~ div {
    background-color: #E8CFCA;
  }

  /* MANTENIMIENTO*/
  .care-bar-m label {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .care-bar-m label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .care-bar-m label div {
    height: 10px;
    width: 15vw;
    border-radius: 4px;
    background-color: #bac9c079;
  }
  
  .care-bar-m label input:checked ~ div {
    background-color: #BAC9C0;
  }

/* fin prueba check*/

.care-riego h2{
    margin: 0px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.product-scale{
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    height: 30vh;
}

.line1{
    display: block;
    position: absolute;
    top: 25%;
    left: 0px;
    width: 100%;
    border-top: 1px dashed black;
}

.line2{
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    border-top: 1px dashed black;
}

.line3{
    display: block;
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
    border-top: 1px dashed black;
}

.line-base{
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    border-top: 1px solid black;
}

.product-scale-centered{
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 5px;

}

.product-scale-img img{
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: auto;

}

.other-products{
    width: 100%;
    height: 30%;
    background-color: coral;
}



@media (min-width: 480px) {
    .product{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .product-img{
        display: block;
        width: 50%;
        height: 60%;
        border: 1px solid black;
    
        overflow: hidden;
    }

    .product-desc{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
    
        width: 50%;
        height: 60%;
        border: 1px solid black;
    
        overflow: hidden;
    }


    .product-care{
        width: 50%;
        height: 30%;
        border: 1px solid black;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .care-bar-r label div {
        width: 5vw;
      }
    
    .care-bar-l label div {
        width: 5vw;
      }
    
    .care-bar-m label div {
        width: 5vw;
      }
    
    .product-scale{
        display: block;
        width: 50%;
        height: 30%;
        border: 1px solid black;
    }
}
