<!-- esta archivo esta armado solamente para el footer, vinculado a la hoja de estilos principal-->

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <a href="/error"><h3>subseccion 1</h3></a>
            <a href="/error"><h3>subseccion 2</h3></a>
            <a href="/error"><h3>subseccion 3</h3></a>
            <a href="/error"><h3>subseccion 4</h3></a>
         </section>

        <section class="footer-section">
            <h2>seccion 2</h2>
            <a href="/error"><h3>subseccion 1</h3></a>
            <a href="/error"><h3>subseccion 2</h3></a>
            <a href="/error"><h3>subseccion 3</h3></a>
            <a href="/error"><h3>subseccion 4</h3></a>
         </section>

         <section class="footer-section">
            <h2>seccion 3</h2>
            <a href="/error"><h3>subseccion 1</h3></a>
            <a href="/error"><h3>subseccion 2</h3></a>
            <a href="/error"><h3>subseccion 3</h3></a>
            <a href="/error"><h3>subseccion 4</h3></a>
         </section>

         <section class="footer-social">
            <h2>redes sociales</h2>
            <h3>facebook</h3>
            <h3>instagram</h3>
            <h3>correo electronico</h3>
         </section>

    </footer>
    <script src="/js/script.js"></script>