<!-- esta archivo esta armado solamente para el footer, vinculado a la hoja de estilos principal-->

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

         <section class="footer-section">
            <h2>Tienda</h2>
            <a href="/products/all"><h3>Todas las plantas</h3></a>
            <a href="/error"><h3>Best sellers</h3></a>
            <a href="/error"><h3>Para principiantes</h3></a>
            <a href="/error"><h3>Pet Friendly</h3></a>
         </section>

         <section class="footer-section">
            <h2>Quiénes Somos</h2>
            <a href="/error"><h3>Quboverde</h3></a>
            <a href="/error"><h3>Integrantes</h3></a>
         </section>

         <section class="footer-section">
            <h2>Cuenta</h2>
            <a href="/error"><h3>Mi Cuenta</h3></a>
            <a href="/error"><h3>Carrito</h3></a>
            <a href="/error"><h3>Favoritos</h3></a>
         </section>

         <section class="footer-social">
            <h2>contacto</h2>
            <h3><i class="fa fa-facebook-official"></i>/quboverde</h3>
            <h3><i class="fa fa-instagram"></i>@quboverdeok</h3>
            <h3><i class="fa fa-envelope"></i>quboverde2021@gmail.com</h3>
         </section>

    </footer>
    <script src="/js/script.js"></script>
