<!-- esta archivo para formulario de carga y edición de productos-->

<form action="" class="form-add-prod">
    <fieldset>
        <label for="nombre">Nombre Producto</label>
        <input type="text" name="" id="nombre" required>

        <label for="precio">Precio</label>
        <input type="number" name="" id="precio" min="0" required>
    </fieldset>

    <fieldset>
        <label for="img">Imagen Producto</label>
        <input type="file" name="" id="img">
    </fieldset>

    <fieldset class="one-line">
        <h2>Escala</h2>
        <input type="radio" name="scale" id="chico">
        <label for="chico">chico</label>
        <input type="radio" name="scale" id="mediano">
        <label for="mediano">mediano</label>
        <input type="radio" name="scale" id="grande">
        <label for="grande">grande</label>
    </fieldset>

    <fieldset>
        <h2>Riego</h2>
        <input type="range" min="0" max="5" name="riego-range">

        <h2>Luz</h2>
    <section class="luz">

        <article class="columna">
            <h3>cantidad</h3>
            <input type="range" min="0" max="5" name="luz-range">
        </article>

    <article class="columna">
        <h3>tipo</h3>
        <section>
        <input type="radio" name="light" id="directa">
        <label for="directa">Exterior directo</label>
    </section>
    <section>
        <input type="radio" name="light" id="semid">
        <label for="semid">Exterior sombra</label>
    </section>
    <section>
        <input type="radio" name="light" id="int">
        <label for="int">Interior</label>
    </section> 
    </article>

   
</section>

        <h2>Apto mascotas</h2>
    <section style"border: 5px solid black">
    <article>
        <input type="radio" name="scale" id="m-si">
        <label for="m-si">SI</label>
    </article>
    <article>
        <input type="radio" name="scale" id="m-no">
        <label for="m-no">NO</label>
    </article>
    <article>
        <input type="radio" name="scale" id="m-danger">
        <label for="m-danger">peligrosa para mascotas</label>
    </article>
    </section>
    </fieldset>
