<!-- esta archivo esta armado solamente para el header de los formularios, vinculado a la hoja de estilos principal-->

    <header>
        <section class="main-header">
            
        <navbar>
            <!-- boton del menu hamburguesa-->
            <article class="burger">
                <a href="#" onclick="burgerMenuAction()"><img src="/img/burger-menu.svg" alt=""></a>
            </article>

            <!-- barra de navegacion-->
            <article class="navbar-menu" id="IDburgerMenu">
                <li><a href="/products/all">Todas las plantas</a></li>
                <li><a href="/products/bestseller">Promociones</a></li>
                <li><a href="/products/easymode">Para principiantes</a></li>
                <li><a href="/products/pet">Pet Friendly</a></li>
            
                <% if (locals.userLogged) { %> 
                    <% if (locals.userLogged.admin) { %>
                        <li> <a href="/admin/panel">Administrar</a></li>
                    <% } %>
                <% } %> 
            
            
            </article>
        </navbar>

        <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
        <article class="header-logo">
            <a href="/"><img src="/img/quboverde_logo.svg" alt=""></a>
        </article>

        <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
        <article class="icon-navbar">
            <!-- <a href="#"><img class ="icons" src="/img/search.svg" alt=""></a> -->
            <a href="/users/profile"><img class ="icons" src="/img/user.svg" alt=""></a>
            <span class ="icons small-text"> <% if (locals.userLogged) { %>
                <%=locals.userLogged.firstname %> 
               <% } %> </span>

            <!-- en este punto si el usuario está loggeado mostrar el Name/Username en vez de "Inicia sesión"-->

            <a href="/checkout/cart"><img src="/img/cart.svg" alt=""></a>
        </article>

    </section>

    <section class="search-bar">
        <article>
        <form method="GET" class="search-bar-container" >
            <input type="search" placeholder="¿Qué estás buscando?" name="search">
            <button type="submit" value="Search" formaction="/products/search/"><img src="/img/search.svg" alt=""></button>
        </form>
        </article>
           
    </section>

    </header>