<!-- esta archivo esta armado solamente para el header, vinculado a la hoja de estilos principal-->

<header>
    <section class="main-header">
        
    <navbar>
        <!-- boton del menu hamburguesa-->
        <article class="burger">
            <a href="#" onclick="burgerMenuAction()"><img src="/img/burger-menu.svg" alt=""></a>
        </article>

        <!-- barra de navegacion-->
        <article class="navbar-menu" id="IDburgerMenu">
        
            <li> <a href="/products/all">Tienda</a> </li>
<% if (locals.userLogged) { %> 
    <% if (locals.userLogged.admin) { %>
        <li> <a href="/products/mod">Administrar</a></li>
    <% } %>
<% } %>    
          
        
        </article>
    </navbar>

    <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
    <article class="header-logo">
        <a href="/"><img src="/img/quboverde_logo.svg" alt=""></a>
    </article>

    <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
    <article class="icon-navbar">
        <form action="/" class="search-bar-container-2">
            <input type="search" placeholder="¿Buscás algo?" name="search" list="listaproductos" autocomplete="off">
            <button type="submit" value="Search" formaction="/products/search/"><img class ="icons" src="/img/search.svg" alt=""></button>
        </form>
        <a href="/users/profile"><img class ="icons" src="/img/user.svg" alt=""></a>
        <span class ="icons small-text">Inicia sesión</span>
        
            <!-- en este punto si el usuario está loggeado mostrar el Name/Username en vez de "Inicia sesión"-->

        <a href="/checkout/cart"><img src="/img/cart.svg" alt=""></a>
    </article>

    </section>

    <section class="search-bar">
        <article>
        <form action="/" class="search-bar-container">
            <input type="search" placeholder="¿Qué estás buscando?" name="search" list="listaproductos" autocomplete="off">
            <button type="submit" value="Search" formaction="/products/search/"><img src="/img/search.svg" alt=""></button>
        </form>

        <% if(locals.produ){ %>
        <datalist id="listaproductos">
            <% for (let i=0; i < locals.produ.length; i++){ %>
                <option value="<%=locals.produ[i].name%>">
             <% } %>
            </datalist>
             <% } %>
        </article>     
    </section>

    <section class="header-banner">
        <picture class="header-banner-mobile"><img src="/img/banner-mobile.jpg" alt=""></picture>
        <picture class="header-banner-desktop"><img src="/img/banner-desktop.jpg" alt=""></picture>
    </section>

</header>