<section class="other-products">
    <article class="other-button">
        <h2> < </h2>
    </article>

    <article class="other-bar">

        <section class="other-bar-prod">
            <picture>
                <img src="/img/img_prod/large-plant-rojo-congo-black-pot.jpg" alt="" class="other-bar-img">
                <img src="/img/fav.svg" alt="" class="other-bar-fav">
            </picture>
            <article class="other-content">
            <h2>Nombre</h2>
            <h3>Especie</h3>
            <h4>$300</h4>
            </article>
        </section>

        <section class="other-bar-prod">
            <picture>
                <img src="/img/img_prod/large-plant-umbrella-black-pot.jpg" alt="" class="other-bar-img">
                <img src="/img/fav.svg" alt="" class="other-bar-fav">
            </picture>
            <article class="other-content">
            <h2>Nombre</h2>
            <h3>Especie</h3>
            <h4>$300</h4>
            </article>
        </section>

        <section class="other-bar-prod">
            <picture>
                <img src="/img/img_prod/medium-plant-velvet-calathea-black-pot.jpg" alt="" class="other-bar-img">
                <img src="/img/fav.svg" alt="" class="other-bar-fav">
            </picture>
            <article class="other-content">
            <h2>Nombre</h2>
            <h3>Especie</h3>
            <h4>$300</h4>
            </article>
        </section>

    </article>

    <article class="other-button">
        <h2> > </h2>
    </article>
</section>