<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />

    <title>Error 404</title>
</head>

<body>
    <main>
        <!-- <div class="frame"></div> -->
        <figure>
            <img id="error-top" src="/img/top.png" alt="">
        </figure>
        <figure>
            <img id="error-left" src="/img/left.png" alt="">
        </figure>
        <figure>
            <img id="error-topright" src="/img/top-right.png" alt="">
        </figure>
        <figure>
            <img id="error-bottom" src="/img/bottom.png" alt="">
        </figure>
        <section>
            <h1>404</h1>
            <h2>Página en construcción</h2>
            <a href="/"><button> Volver a quboverde </button></a>
        </section>
    </main>
</body>
</html>
