<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/questions.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title>quboverde</title>
</head>
<body>
   <main class="intro">
      <div id="intro">
         <section>
            <h2>¿Qué experiencia tenés cuidando plantas?</h2>
            <div class="respuestas">
               <a href="/products/easymode" style="padding:0"><button class="checkout-non">No mucha</button></a>
               <a href="/products/poca" style="padding:0"><button class="checkout-non">Poca</button></a>
               <a href="/products/algo" style="padding:0"><button class="checkout-non">Algo</button></a>
               <a href="/products/capo" style="padding:0"><button class="checkout-non">Capo</button></a>
            </div>
         </section>
   
         <a href="/">Saltar >>></a>
      </div>
   </main>
</body>
</html>