<!-- esta archivo esta armado solamente para el header y el footer, vinculado a la hoja de estilos principal-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    

    <title>quboverde Ingresar</title>
</head>
<body>
    <%- include("../includes/header_form") %>

    <main class="main-login">
        <section class="login-fondo">
            <picture class="header-banner-mobile"><img src="/img/IMG_8509-i.png" alt=""></picture>
            <picture class="header-banner-desktop"><img src="/img/banner-d.jpg" alt=""></picture>
        </section>


        <div class="side-banner"><img src="/img/banner-vertical.jpg" alt=""></div>

        <form class="form-login" method="POST" action="/users/login">
           
                <h1 class="titulo-login">Bienvenido</h1>
                  

                <fieldset class="login">
                                  
                  <input class="login-input" type="text" placeholder="Email" name="email" minlength="2" > 
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                      <%= errors.email.msg %> 
                    </div>
                  <% } %>
                  <span class="mensaje"></span>
                  <input class="login-input"  type="password" placeholder="Contraseña" name="password" >

                  <fieldset class="recordar">
                    <label for="check"></label>
                    <input type="checkbox" id="check" class="check" name="recordar" checked> Recordar mi sesión
                    </label> 
                  </fieldset>
                  
            
                  <button type="submit" class="login-btn btn-main btn" >Ingresar</button> 
                  
                  <hr>

                  <a class="olvide-psw" href="#">Olvidé mi Contraseña</a>
                  <p>No tienes cuenta? <a class="link" href="/users/register">Regístrate</a></p>
                </fieldset>
    
            </form> 
    </main>

    <%- include("../includes/footer") %> 
    <script src="/js/loginForm.js"></script>
</body>
</html>