<!-- esta archivo esta armado solamente para el header y el footer, vinculado a la hoja de estilos principal-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    

    <title>quboverde Registrar</title>
</head>
<body>
    <%- include("../includes/header_form") %> 

    <main class="main-register">
        <section class="register-fondo">
            <picture class="header-banner-mobile"><img src="/img/banner-mobile2.jpg" alt=""></picture>
            <picture class="header-banner-desktop"><img src="/img/banner-d.jpg" alt=""></picture>
        </section>


        <div class="side-banner"><img src="/img/banner-vertical.jpg" alt=""></div>

        <form class="form-register" action="#">
           
                <h1 class="titulo-register">Regístrate</h1>
                  

                <fieldset class="register">
                  <input class="register-input" type="text" id="usuario" placeholder="Usuario" name="user" 
                  minlength="2" required>      
                  <label class="register-input" for="nacimiento">Cumpleaños
                  <input class="nacimiento" type="date" name="nacimiento" id="nacimiento"></label>
                  <input class="register-input" type="text" id="nombre" placeholder="Nombre" name="name" minlength="2" required> 
                  <input class="register-input" type="text" id="surname" placeholder="Apellido" name="surname" minlength="2" required> 
                  <input class="register-input" type="email" id="email" placeholder="Email" name="email" minlength="2" required> 
                  <input class="register-input"  type="password" id="psw" placeholder="Contraseña" name="psw" required>

                  <fieldset class="condiciones">
                    <input type="checkbox" id="check" class="check" checked>
                    <label for="check">Acepto los terminos y condiciones</label> 
                  </fieldset>

                  <button type="submit" class="register-btn btn-main btn" >Registrar</button> 
                    
                </fieldset>
    
            </form> 
    </main>

    <%- include("../includes/footer") %> 
</body>
</html>