<!-- esta archivo esta armado solamente para el header y el footer, vinculado a la hoja de estilos principal-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>quboverde</title>
</head>
<body>
    <header>
        <section class="main-header">
            
        <navbar>
            <!-- boton del menu hamburguesa-->
            <article class="burger">
                <a href="#" onclick="burgerMenuAction()"><img src="/img/burger-menu.svg" alt=""></a>
            </article>

            <!-- barra de navegacion-->
            <article class="navbar-menu" id="IDburgerMenu">
            
                <li> <a href="/product">Detalle de producto</a> </li>
                <li> <a href="/login">Inicia sesión</a></li>
                <li> <a href="/register">Crea tu cuenta</a></li>
            
            </article>
        </navbar>

        <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
        <article class="header-logo">
            <a href="/"><img src="/img/quboverde_logo.svg" alt=""></a>
        </article>

        <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
        <article class="icon-navbar">
            <img class ="icons" src="/img/search.svg" alt="">
            <img class ="icons" src="/img/user.svg" alt="">
            <img src="/img/cart.svg" alt="">
        </article>

    </section>

    <section class="search-bar">
        <article>
        <form action="/" class="search-bar-container">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/img/search.svg" alt=""></button>
        </form>
        </article>
           
    </section>
    <section class="header-banner">
        <picture class="header-banner-mobile"><img src="/img/banner-mobile.jpg" alt=""></picture>
        <picture class="header-banner-desktop"><img src="/img/banner-desktop.jpg" alt=""></picture>
    </section>

    </header>

    <main class="main">
    
    </main>

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <a href="/error"><h3>subseccion 1</h3></a>
            <a href="/error"><h3>subseccion 2</h3></a>
            <a href="/error"><h3>subseccion 3</h3></a>
            <a href="/error"><h3>subseccion 4</h3></a>
         </section>

        <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-social">
            <h2>redes sociales</h2>
            <h3>facebook</h3>
            <h3>instagram</h3>
            <h3>correo electronico</h3>
         </section>

    </footer>
    <script src="/js/script.js"></script>
</body>
</html>