<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>quboverde</title>
</head>
<body>
    <header>
        <section class="main-header">
            
        <navbar>
            <!-- boton del menu hamburguesa-->
            <article class="burger">
                <img src="/img/burger-menu.svg" alt="">
            </article>

            <!-- barra de navegacion-->
            <article class="navbar-menu">
            
                <li>Seccion 1</li>
                <li>Seccion 2</li>
                <li>Seccion 3</li>
            
            </article>
        </navbar>

        <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
        <article class="header-logo">
            <img src="/img/quboverde_logo.svg" alt="">
        </article>

        <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
        <article class="icon-navbar">
            <img class ="icons" src="/img/search.svg" alt="">
            <img class ="icons" src="/img/user.svg" alt="">
            <img src="/img/cart.svg" alt="">
        </article>

    </section>

    <section class="search-bar">
        <article>
        <form action="/" class="search-bar-container">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/img/search.svg" alt=""></button>
        </form>
        </article>
           
    </section>

    <section class="header-banner">
        <picture class="header-banner-mobile"><img src="/img/banner-mobile.jpg" alt=""></picture>
        <picture class="header-banner-desktop"><img src="/img/banner-desktop.jpg" alt=""></picture>
    </section>

    </header>

    <main class="main">
     <section class="prod-container">

         <article class="prod">
             <picture class="prod-img"><img src="/img/img_prod/large-plant-rojo-congo-black-pot.jpg" alt=""></picture>
             <div class="prod-box">
             <h3 class="prod-title">Producto</h3>
             <h4 class="prod-price">$1.000</h4>
             <h5 class="prod-type">especie</h5>
             <form class="prod-action" action="#">
                <button class="add-cart">agregar a carrito</button>
                <button class="fav"><img src="/img/fav.svg" alt=""></button>
             </form>
            </div>
         </article>




     </section>

    </main>

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

        <section class="footer-section">
           <h2>seccion 1</h2>
           <h3>subseccion 1</h3>
           <h3>subseccion 2</h3>
           <h3>subseccion 3</h3>
           <h3>subseccion 4</h3>
        </section>

        <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-social">
            <h2>redes sociales</h2>
            <h3>facebook</h3>
            <h3>instagram</h3>
            <h3>correo electronico</h3>
         </section>

    </footer>

</body>
</html>