<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">

    <title>quboverde</title>
</head>
<body>
    <header>
        <section class="main-header">
            
        <navbar>
            <!-- boton del menu hamburguesa-->
            <article class="burger">
                <a href="#" onclick="burgerMenuAction()"><img src="/img/burger-menu.svg" alt=""></a>
            </article>

            <!-- barra de navegacion-->
            <article class="navbar-menu" id="IDburgerMenu">
            
                <li> <a href="">Seccion 1</a> </li>
                <li> <a href="/login">login</a></li>
                <li> <a href="/register">register</a></li>
            
            </article>
        </navbar>

        <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
        <article class="header-logo">
            <img src="/img/quboverde_logo.svg" alt="">
        </article>

        <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
        <article class="icon-navbar">
            <a href="#"><img class ="icons" src="/img/search.svg" alt=""></a>
            <a href="/login"><img class ="icons" src="/img/user.svg" alt=""></a>
            <a href="/cart"><img src="/img/cart.svg" alt=""></a>
        </article>

    </section>

    <section class="search-bar">
        <article>
        <form action="/" class="search-bar-container">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/img/search.svg" alt=""></button>
        </form>
        </article>
           
    </section>

    <section class="header-banner">
        <picture class="header-banner-mobile"><img src="/img/banner-mobile.jpg" alt=""></picture>
        <picture class="header-banner-desktop"><img src="/img/banner-desktop.jpg" alt=""></picture>
    </section>

    </header>

    <main class="main">
        <section class="product">

            <picture class="product-img">
                <img src="/img/img_prod/large-plant-rojo-congo-black-pot.jpg" alt="">
            </picture>

            <article class="product-desc">
                <section class="desc-name">
                    <h2>Nombre</h2>
                    <h3>$999</h3>
                </section>

                <section class="desc-text">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consectetur minus soluta vitae corrupti, hic, ullam odit voluptatem distinctio dolore sint unde aliquid totam recusandae voluptate molestiae, quo eveniet magni.</h4>
                </section>

                <section class="desc-care">

                    <section class="desc-care-box">
                        <picture><img src="/img/gota.svg" alt=""></picture>
                        <h2>riego</h2>
                        <h3>cada 3 dias</h3>
                    </section>

                    <section class="desc-care-box">
                        <picture><img src="/img/sol.svg" alt=""></picture>
                        <h2>Luz</h2>
                        <h3>indirecta</h3>
                    </section>

                    <section class="desc-care-box">
                        <picture><img src="/img/mascota.svg" alt=""></picture>
                        <h2>mascotas</h2>
                        <h3>apta mascotas</h3>
                    </section>
                    
                </section>

                <form class="prod-action" action="#">
                    <input type="text" class="fav">
                    <button class="add-cart">agregar</button>
                    <button class="fav"><img src="/img/fav.svg" alt=""></button>
                </form>

            </article>

            <article class="product-care">

                <section class="care-riego">
                    <h2 class="care-title">Riego</h2>
                    <form action="#" class="care-bar-r care-bar">
                        <picture class="bar-img"><img src="/img/gotita.svg" alt=""></picture>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled>
                            <div></div>
                        </label>
                    </form>
                </section>

                <section class="care-riego">
                    <h2 class="care-title">Luz</h2>
                    <form action="#" class="care-bar-l care-bar">
                        <picture class="bar-img"><img src="/img/solcito.svg" alt=""></picture>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled>
                            <div></div>
                        </label>
                    </form>
                </section>

                <section class="care-riego">
                    <h2 class="care-title">Mantenimiento</h2>
                    <form action="#" class="care-bar-m care-bar">
                        <picture class="bar-img"><img src="/img/palita.svg" alt=""></picture>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled checked>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled>
                            <div></div>
                        </label>
                        <label>
                            <input type="checkbox" disabled>
                            <div></div>
                        </label>
                    </form>

                </section>

            </article>

            <article class="product-scale">
            <section class="product-scale-centered">
                <picture class="product-scale-img"><img src="/img/hs.svg" alt=""></picture>
                <picture class="product-scale-img"><img src="/img/hsp1.svg" alt=""></picture>
                <picture class="product-scale-img"><img src="/img/hsp2.svg" alt=""></picture>
            </section>

                <picture class ="line1"></picture>
                <picture class ="line2"></picture>
                <picture class ="line3"></picture>
                <picture class ="line-base"></picture>
            </article>
        </section>

    <section class="other-products">
        <article class="other-button">
            <h2> < </h2>
        </article>

        <article class="other-bar">

            <section class="other-bar-prod">
                <picture>
                    <img src="/img/img_prod/large-plant-rojo-congo-black-pot.jpg" alt="" class="other-bar-img">
                    <img src="/img/fav.svg" alt="" class="other-bar-fav">
                </picture>
                <article class="other-content">
                <h2>Nombre</h2>
                <h3>Especie</h3>
                <h4>$300</h4>
                </article>
            </section>

            <section class="other-bar-prod">
                <picture>
                    <img src="/img/img_prod/large-plant-umbrella-black-pot.jpg" alt="" class="other-bar-img">
                    <img src="/img/fav.svg" alt="" class="other-bar-fav">
                </picture>
                <article class="other-content">
                <h2>Nombre</h2>
                <h3>Especie</h3>
                <h4>$300</h4>
                </article>
            </section>

            <section class="other-bar-prod">
                <picture>
                    <img src="/img/img_prod/medium-plant-velvet-calathea-black-pot.jpg" alt="" class="other-bar-img">
                    <img src="/img/fav.svg" alt="" class="other-bar-fav">
                </picture>
                <article class="other-content">
                <h2>Nombre</h2>
                <h3>Especie</h3>
                <h4>$300</h4>
                </article>
            </section>

        </article>

        <article class="other-button">
            <h2> > </h2>
        </article>
    </section>
    </main>

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <a href=""><h3>subseccion 1</h3></a>
            <a href=""><h3>subseccion 2</h3></a>
            <a href=""><h3>subseccion 3</h3></a>
            <a href=""><h3>subseccion 4</h3></a>
         </section>

        <section class="footer-section">
            <h2>seccion 2</h2>
            <a href=""><h3>subseccion 1</h3></a>
            <a href=""><h3>subseccion 2</h3></a>
            <a href=""><h3>subseccion 3</h3></a>
            <a href=""><h3>subseccion 4</h3></a>
         </section>

         <section class="footer-section">
            <h2>seccion 3</h2>
            <a href=""><h3>subseccion 1</h3></a>
            <a href=""><h3>subseccion 2</h3></a>
            <a href=""><h3>subseccion 3</h3></a>
            <a href=""><h3>subseccion 4</h3></a>
         </section>

         <section class="footer-social">
            <h2>redes sociales</h2>
            <h3>facebook</h3>
            <h3>instagram</h3>
            <h3>correo electronico</h3>
         </section>

    </footer>


<script src="/js/script.js"></script>
</body>
</html>