<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">

    <title>quboverde</title>
</head>
<body>
    <header>
        <section class="main-header">
            
        <navbar>
            <!-- boton del menu hamburguesa-->
            <article class="burger">
                <img src="/img/burger-menu.svg" alt="">
            </article>

            <!-- barra de navegacion-->
            <article class="navbar-menu">
            
                <li>Seccion 1</li>
                <li>Seccion 2</li>
                <li>Seccion 3</li>
            
            </article>
        </navbar>

        <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
        <article class="header-logo">
            <img src="/img/quboverde_logo.svg" alt="">
        </article>

        <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
        <article class="icon-navbar">
            <img class ="icons" src="/img/search.svg" alt="">
            <img class ="icons" src="/img/user.svg" alt="">
            <img src="/img/cart.svg" alt="">
        </article>

    </section>

    <section class="search-bar">
        <article>
        <form action="/" class="search-bar-container">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/img/search.svg" alt=""></button>
        </form>
        </article>
           
    </section>

    <section class="header-banner">
        <picture class="header-banner-mobile"><img src="/img/banner-mobile.jpg" alt=""></picture>
        <picture class="header-banner-desktop"><img src="/img/banner-desktop.jpg" alt=""></picture>
    </section>

    </header>

    <main class="main">
        <section class="product">

            <picture class="product-img">
                <img src="/img/img_prod/large-plant-rojo-congo-black-pot.jpg" alt="">
            </picture>

            <article class="product-desc">
                <section class="desc-name">
                    <h2>Nombre</h2>
                    <h3>$999</h3>
                </section>

                <section class="desc-text">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consectetur minus soluta vitae corrupti, hic, ullam odit voluptatem distinctio dolore sint unde aliquid totam recusandae voluptate molestiae, quo eveniet magni.</h4>
                </section>

                <section class="desc-care">

                    <section class="desc-care-box">
                        <picture><img src="/img/gota.svg" alt=""></picture>
                        <h2>riego</h2>
                        <h3>cada 3 dias</h3>
                    </section>

                    <section class="desc-care-box">
                        <picture><img src="/img/sol.svg" alt=""></picture>
                        <h2>Luz</h2>
                        <h3>indirecta</h3>
                    </section>

                    <section class="desc-care-box">
                        <picture><img src="/img/mascota.svg" alt=""></picture>
                        <h2>mascotas</h2>
                        <h3>apta mascotas</h3>
                    </section>
                    
                </section>

                <form class="prod-action" action="#">
                    <input type="text" class="fav">
                    <button class="add-cart">agregar</button>
                    <button class="fav"><img src="/img/fav.svg" alt=""></button>
                </form>

            </article>

            <article class="product-care">
                <section class="care-riego">
                    <h2 class="care-title">Riego</h2>
                    <form action="#" class="care-bar">
                        <input type="range" min="0" max="5" step="1" value="2" list="marcas" class="prueba">
                        <datalist id="marcas">
                            <option value="0" label="0">
                            <option value="1" label="1">
                            <option value="2" label="2">
                            <option value="3" label="3">
                            <option value="4" label="4">
                            <option value="5" label="5">
                          </datalist>
                    
                    </form>

                </section>

                <section class="care-luz">
                    <h2 class="care-title">Luz</h2>

                </section>

                <section class="care-mant">
                    <h2 class="care-title">Mantenimiento</h2>

                </section>

            </article>

            <article class="product-scale">
                
            </article>
        </section>

    <section class="other-products">
        <h2>otras plantas para vos</h2>
    </section>
    </main>

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

        <section class="footer-section">
           <h2>seccion 1</h2>
           <h3>subseccion 1</h3>
           <h3>subseccion 2</h3>
           <h3>subseccion 3</h3>
           <h3>subseccion 4</h3>
        </section>

        <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-social">
            <h2>redes sociales</h2>
            <h3>facebook</h3>
            <h3>instagram</h3>
            <h3>correo electronico</h3>
         </section>

    </footer>

</body>
</html>