<!-- esta archivo esta armado solamente para el header y el footer, vinculado a la hoja de estilos principal-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <title>quboverde Registrar</title>
</head>
<body>
    <header>
        <section class="main-header">
            
        <navbar>
            <!-- boton del menu hamburguesa-->
            <article class="burger">
                <img src="/img/burger-menu.svg" alt="">
            </article>

            <!-- barra de navegacion-->
            <article class="navbar-menu">
            
                <li> <a href="/product">Detalle de producto</a> </li>
                <li> <a href="/login">Inicia sesión</a></li>
                <li> <a href="/register">Crea tu cuenta</a></li>
            
            </article>
        </navbar>

        <!-- este article es solo el logo, para tenerlo mas controlado en caja-->
        <article class="header-logo">
            <a href="/"><img src="/img/quboverde_logo.svg" alt=""></a>
        </article>

        <!-- este article todo el carrito, que en la version web tendria mas contenidos-->
        <article class="icon-navbar">
            <a href="#"><img class ="icons" src="/img/search.svg" alt=""></a>
            <a href="/login"><img class ="icons" src="/img/user.svg" alt=""></a>
            <a href="/cart"><img src="/img/cart.svg" alt=""></a>
        </article>

    </section>

    <section class="search-bar">
        <article>
        <form action="/" class="search-bar-container">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/img/search.svg" alt=""></button>
        </form>
        </article>
           
    </section>
   

    </header>

    <main class="main-register">
        <section class="register-fondo">
            <picture class="header-banner-mobile"><img src="/img/IMG_8508.jpg" alt=""></picture>
            <picture class="header-banner-desktop"><img src="/img/banner-d.jpg" alt=""></picture>
        </section>


        <div class="side-banner"><img src="/img/banner-vertical.jpg" alt=""></div>

        <form class="form-register" action="#">
           
                <h1 class="titulo-register">Regístrate</h1>
                  

                <fieldset class="register">
                  <input class="register-input" type="text" id="usuario" placeholder="Usuario" name="user" 
                  minlength="2" required>      
                  <label class="register-input" for="nacimiento">Cumpleaños
                  <input class="nacimiento" type="date" name="nacimiento" id="nacimiento"></label>
                  <input class="register-input" type="text" id="nombre" placeholder="Nombre" name="name" minlength="2" required> 
                  <input class="register-input" type="text" id="surname" placeholder="Apellido" name="surname" minlength="2" required> 
                  <input class="register-input" type="email" id="email" placeholder="Email" name="email" minlength="2" required> 
                  <input class="register-input"  type="password" id="psw" placeholder="Contraseña" name="psw" required>

                  <fieldset class="condiciones">
                    <input type="checkbox" id="check" class="check" checked>
                    <label for="check">Acepto los terminos y condiciones</label> 
                  </fieldset>

                  <button type="submit" class="register-btn btn-main btn" >Registrar</button> 
                    
                </fieldset>
    
            </form> 
    </main>

    <footer class="footer">

        <section class="footer-logo">
           <img src="/img/quboverde_logo.svg" alt="">
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <a href="/error"><h3>subseccion 1</h3></a>
            <a href="/error"><h3>subseccion 2</h3></a>
            <a href="/error"><h3>subseccion 3</h3></a>
            <a href="/error"><h3>subseccion 4</h3></a>
         </section>

        <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-section">
            <h2>seccion 1</h2>
            <h3>subseccion 1</h3>
            <h3>subseccion 2</h3>
            <h3>subseccion 3</h3>
            <h3>subseccion 4</h3>
         </section>

         <section class="footer-social">
            <h2>redes sociales</h2>
            <h3>facebook</h3>
            <h3>instagram</h3>
            <h3>correo electronico</h3>
         </section>

    </footer>

</body>
</html>